{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-console": ["error", { "allow": ["error"]}],
        "eqeqeq": "error",
        "indent": ["warn", 4, {"SwitchCase": 1}],
        "curly": "warn",
        "quotes": ["warn", "double"],
        "array-bracket-spacing": ["warn", "never"],
        "no-lonely-if": "warn",
        "no-const-assign": "error",
        "require-jsdoc": ["warn", {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": true,
                "ArrowFunctionExpression": true
            }
        }],
        "semi": "error",
        "prefer-object-spread/prefer-object-spread": "error"
    },
    "globals": {
        "MONPLAN_DESCRIPITON": true,
        "MONPLAN_VERSION": true,
        "MONPLAN_AUTHOR": true,
        "MONPLAN_REMOTE_URL": true,
        "MONPLAN_REMOTE_URL2": true,
        "expect": true
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "plugins": [
        "react",
        "prefer-object-spread"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}
