body {
    background-color: #FFFFFF;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

.ui.grid {
  margin-right: -0.5rem !important;
}

.main.container {
    margin-top: 2em;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    padding: 3em 0em;
    background-color: #005d95;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.display-none {
    display: none;
}

.load-course-steps {
    opacity: 0 !important;
    height: 1 !important;
    display: none !important;
}

.load-course-steps.active {
    display: block !important;
    opacity: 1 !important;
    height: auto !important;
    transition: opacity 0.5s ease-in;
}

.hide {
    visibility: hidden;
}

.logo {
    width: 60%;
}

.print-only .logo {
    width: 1cm;
}

.ui.inverted.menu {
    background-color: #005d95;
}

.nav {
    flex-shrink: 0;
}

.disclaimer {
    font-size: 12px;
}

html, body {
    height: 100%;
}

.ui.button .icon.normal {
    transition: all 250ms;
}

.ui.button .icon.active {
    transform: rotate(135deg);
    transition: all 250ms;
}

@page {
    size: landscape;
}

@media print {
    .no-print, .ui.modals, .ui.dimmer, .ui.modal, .ui.button {
        display: none !important;
    }

    body, .main-container {
        width: auto;
        height: auto;
    }
}

@media screen {
    .main-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .print-only {
        display: none !important;
    }

    #main-body {
        overflow-y: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #main-body > span {
        flex: 1;
    }

    #main-body .main.container {
        padding-bottom: 5em;
    }
}

.popup ul {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
}

.sidebar .item > .header {
    text-align: left;
    margin-top: 1em !important;
    margin-left: 0.5em !important;
    font-size: 1.25em !important;
}

.sidebar .message {
    font-size: 1em !important;
}


.sidebar {
    overflow-x: hidden;
}

.sidebar td {
    display: block;
}

.ui.yellow.button, .ui.yellow.button:hover {
    color: black;
}

.sidebar .active.item {
    background: #E0E0E0 !important;
}

.unit {
    min-height: 90px !important;
}

.unit.draggable:hover {
    box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.22) inset, 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15) !important;
}

.placeholder.unit {
    cursor: pointer;
}

/* Adds margin in between a button and another element with class name marginLeft */
.buttons > .marginLeft {
    margin-left: 0.1em !important;
    text-align: center;
}

.ui.icon.input input {
    width:100% !important;
}
