body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 5em;
}

.wireframe {
    margin-top: 2em;
}

.ui.segment {
    height: 100%;
    flex: 1;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 3em 0em;
    background-color: #005d95;
    flex: 2
}
.display-none {
    display: none;
}

.hide {
    visibility: hidden;
}

.logo {
    width: 60%;
}

.ui.inverted.menu {
    background-color: #005d95;
}

#app {
    min-height: 100%;
}

.main-container {
    min-height: 100%;
}

.disclaimer {
    font-size: 12px;
}

.grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

@page {
    size: landscape;
}

@media print {
    .no-print, .ui.modals, .ui.dimmer, .ui.modal, .ui.button {
        display: none !important;
    }
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -210px; /* the bottom margin is the negative value of the footer's height */
}

.welcomeMargin {
    height: 30px;
}

.welcomeBackMargin {
    height: 170px;
}

.footer, .push {
    height: 210px; /* .push must be the same height as .footer */
}

/*
.move {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 2.85714286em; // required as well.
}*/
